@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }
  
  .btn-theme-disney {
    color: #fff;
    padding: 0.5rem 3rem;
    font-size: 17px;
    border-radius: 4px;
    text-align: center;
    margin-top: 2vh;
    display: inline-block;
    text-transform: uppercase;
    background-color: #0063e5;
    border: 1px solid transparent;
  }
  
  .btn-theme-disney:hover {
    background: #0099ff;
  }
  
  @media screen and  (min-width: 550px) and (max-width: 767px) {
    .btn-theme-disney  {
      padding: 0.5rem;
      font-size: 15px;
    }
  }
  
  @media screen and  (min-width: 375px) and (max-width: 550px) {
    .btn-theme-disney  {
      padding: 0.5rem 1.7rem;
      font-size: 15px;
    }
  }
  
  @media screen and  (min-width: 280px) and (max-width: 375px) {
    .btn-theme-disney  {
      padding: 0.5rem 1.5rem;
      font-size: 10px;
    }


  }
  
  
  .disney-tittles {
    font-size: 2.3rem;
    font-weight: 500 !important;
    line-height: 2.5rem;
    
  }
  
  @media screen and  (min-width: 991px) and (max-width: 1200px) {
    .disney-tittles  {
      line-height: 2rem;
      font-size: 2rem;
    }
  }
  
  @media screen and  (min-width: 550px) and (max-width: 991px) {
    .disney-tittles  {
      line-height: 1.8rem;
      font-size: 1.5rem;
    }
  }
  
  @media screen and  (min-width: 375px) and (max-width: 550px) {
    .disney-tittles  {
      font-size: 1.3rem;
      line-height: 1.7rem;
    }
  }
  
  @media screen and  (min-width: 280px) and (max-width: 375px) {
    .disney-tittles  {
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
  }
  .social-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-buttons span {
    margin-left: 5px;
    margin-left: 0px;
  }

//-------------------------------------------------------------------------------------------------------------------------


// blue and red  laser beam ready
    ::-webkit-scrollbar {
      width: 7px; /* Set the width to your desired height */
    }
    
    /* Style the scrollbar track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    
    /* Style the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(to bottom, #00f, #00f 10%, red);
      border-radius: 10px; /* Adjust as needed */
      box-shadow: 0 0 0px 0px #00f; /* Glowing effect */
      position: relative;
    }
    
    /* Create the laser core */
    ::-webkit-scrollbar-thumb::before {
      content: '';
      position: absolute;
      top: 0;
      left: 3px; /* Adjust to center the core */
      width: 16px; /* Core width */
      height: 100%;
      background-color: white; /* Core color */
      border-radius: 5px; /* Core border radius */
      box-shadow: 0 0 0px 0px white, 0 0 15px 6px #00f; /* Inner and outer glow */
    }